body{
  background: rgb(245,245,245);
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 0.9);
  font-weight: lighter;
  font-size: 30px;
}

a {
  color: yellow;
}

a:hover {
  text-decoration: none;
  color: purple;
}

#banner {
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  text-shadow: 1px 1px 5px black;
}

#banner h1 {
  color: white;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

#footer {
  padding: 30px;
  background: rgba(30, 30, 30, 0.90);
  color: lightgrey;
}

.container {
  margin: 0 auto;
}

.card {
  margin: 50px auto;
  padding: 20px 25px;
  font-weight: lighter;
  text-align: center;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.card:hover {
  animation-name: fade;
  animation-duration: 1s;
  animation-name: scale;
  animation-duration: 0.8s;
}

.card p {
  line-height: 10px;
  color: #404042;
  opacity: 1;
}

.card img {
  width: 150px;
  object-fit: cover;
}

#footer a {
  color: lightgrey;
  font-size: 10px;
}

/*#footer a:hover {
  color: white;
}*/

.yt-item:hover {
  color: #FF0200;
  transform: scale(1.30);
}

.fb-item:hover {
  color: #3E5B99;
  transform: scale(1.30);
}

.tw-item:hover {
  color: #1CA1F2;
  transform: scale(1.30);
}

.gh-item:hover {
  color: white;
  transform: scale(1.30);
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity 1;}
}

@keyframes scale {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}